.scroller {
  width: 100%;
  min-width: 245px;
  background-color: #fff;
  position: relative;
  font-size: 16px;
  margin:0;
}
.scroller .item_space {
  margin: 0 auto;
  padding: 5px 0 10px;
  height: 14em;
  width: 88%;
  text-align: center;
  position: relative;
  overflow-x: hidden;
}
.model_scroller .item_space .moving_space {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0px;
  transition: left ease-out 0.7s;
  width: 2000%;
}
.model_scroller .item_cont {
  display: block;
  float: left;
  text-align: center;
}
.model_scroller .item_space .item img {
  width: 95%;
  max-width: 100%;
  height: auto;
}
.model_scroller_item ul {
  max-width: 370px;
  width: 93%;
  margin: -6px auto 0;
  padding: 5px;
  text-align: left;
  position: relative;
  list-style: none;
}
.model_scroller_item li a {
  color: #fff;
  line-height: 1.2em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  font-size: 0.8em;
}
.scroller-img-wrapper {
  margin: auto;
}
/*Scroller Navigation*/
.model_scroller .prev,
.scroller .next {
  position: absolute;
  top: 45px;
  display: block;
  width: 5%;
  height: 30px;
  cursor: pointer;
}
.model_scroller .scroller-control {
  top: 50%;
  transform: translateY(-50%);
}
.model_scroller .prev {
  left: 0px;
  background: transparent url('../img/scroller_prev.png') no-repeat 50% 50%;
}
.model_scroller .next {
  right: 0px;
  background: transparent url('../img/scroller_next.png') no-repeat 50% 50%;
}
.model_scroller .prev.inactive,
.scroller .next.inactive {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
/*Extras*/
.scroller-title {
  background-color: #4a4a4a;
}
.border {
  border: 1px solid #c6c6c6;
  padding: 5px;
}
.passive {
  opacity: 0.5;
}
.btn-hidden {
  display: none !important;
}
.text-color div {
  color: #fff;
}
